* {
  font-family: cairo !important;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: "cairo";
  src: local("cairo"), url("../src/assets//fonts/cairo.ttf") format("truetype");
}
